[user]
  email = micael.l.m.c@gmail.com
  name = Micael Carvalho
	signingkey = ""
[includeIf "gitdir:~/mintT/"]
    path = .gitconfig-work
[gpg]
	format = openpgp
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
[core]
	ignorecase = false
	editor = nvim
[init]
	defaultBranch = main
